name: Build

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-rs:
    name: Build and Lint Rust Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Setup Postgres
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '15'
          postgresql user: 'rewards'
          postgresql password: 'alien'
      - name: Setup sqlx
        run: |
          echo "DATABASE_URL=postgres://rewards:alien@localhost/rewards" >> .env
          cargo install sqlx-cli --version 0.6.3 --locked --no-default-features --features native-tls,postgres
          sqlx database setup
      - name: Build
        run: cargo build --locked
      - name: Lint
        run: cargo clippy --locked

  build-js:
    name: Build and Lint JS Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: web/package-lock.json
      - name: Install Dependencies
        working-directory: web
        run: npm ci
      - name: Build
        working-directory: web
        run: npm run build
      - name: Lint
        working-directory: web
        run: npm run lint
