name: Check Formatting

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

env:
  CARGO_TERM_COLOR: always

jobs:
  check-format:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt
      - run: rustup component add rustfmt
      - name: rustfmt
        run: cargo fmt --check
      - name: prettier
        uses: actionsx/prettier@v3
        with:
          args: -c .
